* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppistan', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(85, 164, 201);
    display: flex;
    justify-content: space-between;
}